<header class="header">
    <div class="header-title">
        <h1>AGENDA</h1>
    </div>
    <nav class="navbar">
      <div class="menu-list">
        <ul class="list">
          <li class="list-item"> <a href={% url "contact:index" %}>Home</a></li>
          <li class="list-item"><a href="">Link 2</a></li>
        </ul>
      </div>
    </nav>
    <div class="search">
      <form action="" method="GET">
        <input class="search-input" type="search" placeholder="Pesquisar">
      </form>
    </div>
</header>