{% extends "global/base.html" %}

{% block content %}
<div class="table-responsive-md">    
    <table class="table table-striped align-middle caption-top">
        <caption>Contact list</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">PHONE</th>
          </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
              <th scope="row"> <a href="#"> {{contact.id}}</a></th>
              <td>{{contact.first_name}} {{contact.last_name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.phone}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}